body {
    display: grid;
    place-items: center;
    height: 100vh;
    background: linear-gradient(180deg, rgb(0, 0, 0), rgb(0, 0, 0));
    margin: 0rem;
    overflow: hidden;
    scroll-behavior: smooth;
}
/* Sharewell text */
h1 {
    font-family: 'Space Mono', monospace;
    font-size: clamp(1rem, 5vw, 5rem);
    color: white;
    padding: 0rem clamp(1rem, 50vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    transition: background-color 0.3s ease; 
    z-index: 3;
    position: absolute;
    top: 50px;
}
h1:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

  /* Login Box Formatting */
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  /* Login Text */
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  /* Username and Password */
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #ffffff;
    font-size: 12px;
  }
   /* Submit button */
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
 
  .login-box a:hover {
    background: #ffffff;
    color: #000000;
    border-radius: 5px;
    box-shadow: 0 0 5px #fefbef,
                0 0 25px #fefbef,
                0 0 50px #fefbef,
                0 0 1px #fefbef;
  }
  
  /* Register Button */
  .register {
    text-decoration: none;
    color: #000000;
    position: absolute;
    bottom: 100px;
    transition: ease-in-out 0.5s;
  }
  .register:hover {
    transform: scale(1.2);
    color:rgb(59, 59, 59);
    background-color: #d4d4d4;
  }